spring:
  datasource:
    url: jdbc:mysql://localhost:3306/employee_management
    username: root
    password: 28926333plTT@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  thymeleaf:
    cache: false

  mvc:
    view:
      prefix: /templates/
      suffix: .html		
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=100,expireAfterWrite=1m

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always