spring:
  datasource:
    url: jdbc:mysql://localhost:3306/employee_management
    username: root
    password: 28926333plTT@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  thymeleaf:
    cache: false

  mvc:
    view:
      prefix: /templates/
      suffix: .html		
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=100,expireAfterWrite=1m

app:
  jwt:
    secret: "thay_ban_biet_mat_khoa_dai_it_cho_bao_mat"  # ít nhất 32 bytes
    expiration: 3600000  # 1 hour in ms

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always